<div class="contact-container">
    <h2>Contact Us</h2>

    <div class="contact-info">
        <h3>To place an order, please contact our office via telephone or email</h3>

        <p>
            <FaIcon class='foot-icon' @icon="envelope" @prefix="fa" @size="2x" />
            <a href="mailto:prudencedesignsandevents@mail.com">prudencedesignsandevents@mail.com</a>
        </p>
        <p>
            <FaIcon class='foot-icon' @icon="phone-alt" @prefix="fa" @size="2x" />
            <a href="tel:212.691.1356">+1 (212) 691-1356</a><br></p>
        <p>
            <FaIcon class='foot-icon' @icon="fax" @prefix="fa" @size="2x" /> <a href="tel:212.691.1082">+1 (212)
                691-1082</a><br>
        </p>

        <address>
            Address:
            By Appointment Only<br>
            New York, New York 10018
        </address>
        <br />
        <p>
        <h4>Studio Hours:</h4>
        <br />
        Monday-Friday: 9am-5pm
        <br />
        Saturday: 12pm-5pm
        <br />
        Sunday: Closed</p>

    </div>

</div>