<div class="our-story-container">
    <h1>Besos and Greetings from Grayson and Arturo...</h1>
    <div class="story-text">
        <img class="duo" src="/assets/images/duo.jpg">
        <p>
            Prudence Designs invites you to experience the magic of unforgettable flowers. Ever since partners Grayson
            Handy
            and Arturo Quintero launched Prudence Designs in 1995, they’ve helped thousands of clients-including fashion
            designer Tracey Reese, actor Tom Cruise, comedian David Letterman and performer Sandra Bernhard bedeck their
            homes and events with gorgeous, one-of-a-kind floral arrangements.
            <br /> <br />
            Named after their beloved dachshund,
            Prudence
            Designs features exquisite floral designs from a simple ‘Thank you’ arrangement to a full-scale event.
            Prudence
            is a favorite of the fashion and entertainment industries for their artistic vision.
        </p>
        <br />
        <p> In 2003 and 2008, Citisearch.com named Prudence Designs Best Florist in New York City, both as audience and
            editorial winner. Prudence Designs was also rated Top Ten florists nationwide. The Knot has chosen Prudence
            Designs & Events for their Best of Weddings from 2007-present.
            <br />
            <br />
            Recently, Grayson Handy appeared on NBC’s LXTV for their Open House show. Their Tips of the Trade segment
            was
            televised on air, website, and in the back of 10,000 New York City taxis. He has also been a featured guest
            on
            Martha Stewart’s Living Sirius Radio Show. He has also worked with Dina Manzo (Housewives of New Jersey) on
            Dina’s Party for HGTV as a featured floral/design expert. He also writes for the Huffington Post’s Stylelist
            Home. Prudence was also featured on Regis & Kelly, the Today Show’s “Throw a Wedding”, Good Day New York and
            created Joy Behar’s “Fantasy Wedding” on The View.</p>
        <br />
        <img class="GraysonProfile" src="/assets/images/GraysonProfile.jpg">
        <p> Their work has graced the pages of New York Magazine, Modern Bride, Bridal Guide, Brides, InStyle, The Knot,
            Elegant Bride, Time Out New York, Lucky, House & Garden, Costal Living, Martha Stewart Living, Cargo,
            Country
            Living Gardner, Victoria, Avenue, Us, Veranda, Gotham, Breathe, Absolute, New York Times, New York Post and
            New
            York Daily News.
            <br />
            In addition to providing a full service floral business, Prudence features exclusive pottery, original
            artwork,
            pillows & throws, home furnishings and accessories, and vintage/antique furniture.
            <br />
            <br />
            Prudence Events, a full service event production company, was launched in 2000. Headquartered in New York
            City,
            Prudence Events is the invention of creative director Grayson Handy. Mr. Handy’s background also includes a
            successful visual career at Takashimaya, ABC Carpet & Home, and Barney’s New York, considered New York’s
            most
            exclusive retail destinations.
            <br />
            <br />
            In 2007, Arturo Quintero’s book Faux Florals-Arrangements for All Seasons was released. In October of 2009,
            Grayson Handy’s first book “Flowers for the Home-Influences from the World Over” was published by Rizzoli
            International. After its release in the United States, Flowers for the Home was later printed in German and
            Italian for the European market. It is currently in its second printing. The book was turned into an
            engagement
            calendar for 2011, selling out of the 4,000 copies printed in just two weeks. In 2012, another calendar was
            published for the Japanese market.</p>
    </div>


    {{#link-to 'contact' class="story-link"}}
    <button>Contact Us</button>
    {{/link-to}}
</div>